spring-advanced-booking-service/task4-ws-soap/src/main/resources/xsd/event/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://localhost:8080/scribble/xml/Vehicle" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="dateTime" type="xs:string" minOccurs="0"/>
      <xs:element name="ticketPrice" type="xs:float"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>
</xs:schema>

